
.notes__main-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notes_appbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary;
    padding: 10px 20px 10px 20px;
    color: white;
}